{% extends "base.html" %}
{% block title %}Search Results{% endblock title %}
{% block content %}
{% if query %}
<h1 class="text-center">Searching for "{{ query }}"...</h1>
    {% if results %}
        <section class="post-loop py-3 mb-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="list-group mb-3">
                            {% for result in results %}
                            <a href="{{ result.get_absolute_url }}" class="list-group-item list-group-item-action text-dark">
                                <article class="row align-item-center">
                                    <div class="col-md-3">
                                      <img src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." class="img-fluid rounded">
                                    </div>
                                    <div class="col-md-9">
                                      <h3 class="fs-5 mt-2">{{ result.title }}</h3>                              
                                      <p class="fw-light small">{{ result.body|truncatewords:20|linebreaks }}</p>
                                      <p class="text-secondary small">
                                        <strong>Author:</strong>{{ result.author }}
                                        <strong>Posted on:</strong> {{ result.publish }}
                                      </p>
                                    </div>
                                </article>
                            </a> 
                            {% endfor %}
                        </div>
                        {% include "include/pagination.html" %}
                    </div>
                    {% include 'include/sidebar.html' %}
                </div>
            </div> 
        </section>
    {% else %} 
        <p class="text-center">There are no results for your query "{{ query }}".</p>
    {% endif %}
{% else %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-3" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <div>Please enter a Search query.......<a class="alert-link fw-bold" href="{% url 'blog:list' %}">Click here to go back to Home.</a></div>
        </div> 
    </div>
</div>
{% endif %}
{% endblock content %}
