{% comment %} {% extends 'Recipes/base.html' %}
{% load static %} {% endcomment %}
  <table class="table table-striped table-hover border">
    <thead>
        <tr>
            <th scope="col">Recipe</th>
            <th scope="col">Chef</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    {% for recipe in recipes %}
        <tbody>
            <tr>
                <td>
                    <a href="{{ recipe.get_absolute_url }}", class="text-decoration-none">{{ recipe.title }}</a>
                </td>
                <td>{{ recipe.chef }}</td>
            </tr>
        </tbody>
    {% endfor %}
  </table>
