{% comment %} <nav aria-label="Pagination">
  <hr class="my-0" />
  <div class="pagination justify-content-center my-4"> 
    <span class="step-links"> 
      {% if page.has_previous %} 
        <a href="?page=1">&laquo; first</a> 
        <a href="?page={{ page.previous_page_number }}">previous</a> 
      {% endif %} 
      <span class="current"> Page {{ page.number }} of {{ page.paginator.num_pages }}. </span> 
        {% if page.has_next %} 
        <a href="?page={{ page.next_page_number }}">next</a> 
        <a href="?page={{ page.paginator.num_pages }}">last &raquo;</a> 
        {% endif %} 
    </span> 
  </div>
</nav> {% endcomment %}
<div class="pagination">
  <span class="step-links">
    {% if page.has_previous %}
      <a href="{% querystring page=page.previous_page_number %}">Previous</a>
    {% endif %}
    <span class="current">
      Page {{ page.number }} of {{ page.paginator.num_pages }}.
    </span>
    {% if page.has_next %}
      <a href="{% querystring page=page.next_page_number %}">Next</a>
    {% endif %}
  </span>
</div>