<nav aria-label="Pagination">
  <ul class="pagination justify-content-center my-4">
  {% if posts.has_previous %}
      <li class="page-item">
        <a href="?page={{ posts.previous_page_number }}" class="page-link" tabindex="-1">Previous</a>
      </li>
    {% endif %}

    {# Page Numbers #}
    {% for num in posts.paginator.page_range %}
      {% if posts.number == num %}
        <li class="page-item active" aria-current="page">
          <span class="page-link">{{ num }}</span>
        </li>
      {% else %}
        <li class="page-item">
          <a href="?page={{ num }}" class="page-link">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {# Next Link #}
    {% if posts.has_next %}
      <li class="page-item">
        <a href="?page={{ posts.next_page_number }}" class="page-link">Next</a>
      </li>
    {% endif %}
  </ul>
  <hr class="my-0" />
</nav>