{% extends "base.html" %}
{% block title %}Login Page{% endblock title %}
{% block content %}
<div class="container py-5">
  {% include 'account/messages.html' %}
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow">
        <div class="card-body p-5">
          <h3 class="card-title text-center mb-4">Sign In</h3>
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <!-- Email input -->
            <div class="form-floating mb-3">
              {{ form.email }}
              <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            </div>
            <!-- Password input -->
            <div class="form-floating mb-3">
              {{ form.password }}
              <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
            </div>
            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="rememberCheck" checked>
                        <label class="form-check-label" for="rememberCheck">Remember me</label>
                    </div>
                </div>
                <div class="col text-end">
                    <!-- Simple link -->
                    <a href="{% url 'account:password_reset' %}">Forgot password?</a>
                </div>
            </div>
            <!-- Submit button -->
            <input type="submit" name="submit" id="submit" class="form-submit btn btn-primary w-100 mb-4" value="Sign in"/>
            <!-- Register buttons -->
            <div class="text-center">
                <p>Not a member? <a href="{% url 'account:register' %}">Register</a></p>
                <p>or sign up with:</p>
                <div class="d-flex justify-content-center gap-3">
                    <a type="button" href="{% url 'social:begin' 'google-oauth2'%}" class="btn btn-outline-primary btn-floating" >
                        <i class="fab fa-google"></i>
                    </a>
                    <button type="button" class="btn btn-outline-danger btn-floating">                        
                        <i class="fab fa-facebook-f"></i>
                    </button>
                    <button type="button" class="btn btn-outline-info btn-floating">
                        <i class="fab fa-twitter"></i>
                    </button>
                    <button type="button" class="btn btn-outline-dark btn-floating">
                        <i class="fab fa-github"></i>
                    </button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}